.graphicWrapper {
    padding: 15px 0 25px 0;
    // margin: 0 0 50px;
    margin-bottom: 50px;
    font-family: $philly-sans;
    @include mobile {
        padding: 0 0 30px 0;
        margin: 0;
    };

}

.heading {
    margin: 10px 0 20px 0;
    padding: 0 20px;
    font-size: 20px;
    font-weight: 900;
    border-bottom: 3px solid $toxicyellow;
    width: auto;
    display: inline-block;
    text-transform: uppercase;
    // text-align: center;
    @include mobile {
        margin: 0;
        padding: 0;
        margin-bottom: 20px;
    };
    @include BS-medium {
        margin-left: -20px;
    }

}

.textsection {
    // max-width: 700px;
    // margin: 0 auto;
}

.description {
    padding: 0;
    margin: 0;
    font-family: $philly-sans;
    font-size: 18px !important;
    line-height: 1.4;
    font-weight: normal;
    @include BS-medium {
        padding-right: 50px;
    }
}

.source {
    font-size: 13px;
    font-family: $philly-sans;
    color: $philly-mediumgray;
    display: block;
    text-align: left;
    padding: 4px 0 0;

    &:first-of-type {
        padding-top: 20px;
    }
}

.credit {
    text-align: right;
}

.map-outer {
    width: 100%;
    position: relative;
    height: 100%;

    .map-inner {
        padding-bottom: percentage(10/10);
        position: relative;
        display: block;
        height: 100%;

        .leaflet-map {
            position: absolute !important;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

.emphasis {
    background-color: rgba($toxicyellow,0.3);
    box-shadow: 4px 0 0 rgba($toxicyellow,0.3), -4px 0 0 rgba($toxicyellow,0.3);
    font-size: 16px;
}

.legend-buttons {
    @include display-flex;
    width: 100%;
    position: relative;
    padding-bottom: 15px;
    flex-wrap: wrap;
    font-family: $philly-sans;

    .introtext {
        font-weight: 500;
        font-size: 18px;
        // padding-bottom: 10px;
        @include flex(1 1 100%);

        @include BS-medium {
            padding-right: 50px;
        }

        .emphasis {
            margin: 10px 0;
            display: inline-block;
        }
    }
    .button-intro {
        @include flex(1 1 100%);
        font-size: 14px;
    }
    .button-section {
        @include display-flex;
        flex-wrap: wrap;
        padding: 8px 0;
        width: 100%;
        @include flex(1 1 100%);

        .button-row {
            @include display-flex;
            @include flex(1 1 10%);
            text-align: center;
            align-items: center;
            justify-content: center;
            padding: 8px 10px 4px 10px;
            border: 1px solid
             $toxicgray;
            border-radius: 5px;
            margin: 2px;
            @include box-shadow(0px 2px 6px 0px $toxicgray);
            font-size: 14px;
            font-weight: 500;
            line-height: 1.2;
            letter-spacing: -0.4px;

            @extend %noselect;
            cursor: pointer;

            &:hover {
                background-color: #eee;
                @include box-shadow(none);
                color: #222;
            }
        }

        .button-selected {
            @include box-shadow(inset 0 0 1px 1px $toxicgray);
            opacity: 0.6;
            color: gray;
            background-color: #eee;
        }
    }
}
