<div class="graphicWrapper">
  <div class="textsection">
    <h3 class="heading">The 19125 Zip Code has Seen a Boom in Development</h3>
    <p class="description">Over the last ten years, Fishtown has experienced a surge in new construction. This is clearly illustrated by the increase in construction and demolition pertmits, with nearly five times as many permits applied for in 2016 then 2007.</p>
    <div class="legend">
      <div class="legend-row">
        <div class="conLegend"></div> Construction Permit</div>
      <div class="legend-row">
        <div class="demoLegend"></div> Demolition Permit</div>
    </div>
  </div>


  <div class="graphic-section">
    <div class="left-section">
      <div class="map-outer">
        <div class="map-inner">
          <div id="map-permits" class="leaflet-map">
          </div>
        </div>
      </div>
    </div>
    <div class="right-section">
      <p class="description instructions"><i class="fa fa-play" aria-hidden="true"></i>
 Click the Play button to track this growth in the neighborhood. Green dots and blue dots represent construction and demolition permit requests respectively. Dots from the previous year will be less opaque than the year currently in view.</p>
      <div id="chart-container">
        <!-- <div class="line-container">
           <div id="trackline"></div>
        </div> -->
        <!-- <div id="line-chart" class="ct-chart ct-major-tenth"></div> -->
        <iframe id="datawrapper-chart-4P7rS" src="https://datawrapper.dwcdn.net/4P7rS/4/" frameborder="0" allowtransparency="true" allowfullscreen="allowfullscreen" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" oallowfullscreen="oallowfullscreen"
          msallowfullscreen="msallowfullscreen" width="100%" height="324"></iframe>
        <script type="text/javascript">
          if ("undefined" == typeof window.datawrapper) window.datawrapper = {};
          window.datawrapper["4P7rS"] = {}, window.datawrapper["4P7rS"].embedDeltas = {
            "100": 384,
            "200": 324,
            "300": 324,
            "400": 324,
            "500": 324,
            "600": 324,
            "700": 324,
            "800": 324,
            "900": 324,
            "1000": 324
          }, window.datawrapper["4P7rS"].iframe = document.getElementById("datawrapper-chart-4P7rS"), window.datawrapper["4P7rS"].iframe.style.height = window.datawrapper["4P7rS"].embedDeltas[Math.min(1e3, Math.max(100 * Math.floor(window.datawrapper[
            "4P7rS"].iframe.offsetWidth / 100), 100))] + "px", window.addEventListener("message", function(a) {
            if ("undefined" != typeof a.data["datawrapper-height"])
              for (var b in a.data["datawrapper-height"])
                if ("4P7rS" == b) window.datawrapper["4P7rS"].iframe.style.height = a.data["datawrapper-height"][b] + "px"
          });
        </script>
        <!-- <div id="chart-line-container">
            <div id="chart-line"></div>
        </div> -->
      </div>
    </div>
  </div>


  <div class="source">Source: City of Philadelphia</div>
  <div class="source credit">JARED WHALEN / Staff</div>
</div>
