<div class="row">
    <div class="col-md-10 col col-md-offset-1">
        <div id="smelterGraphic" class="graphicWrapper">
            <div class="textsection">

                <h3 class="heading">Philadelphia's Industrial Legacy</h3>
                <p class="description">Philadelphia, once known as the “World’s Workshop,” churned out everything from toys to textiles. For more than a century its factories, many clustered along the Delaware river, brought jobs and prosperity – and pollution. With 36 smelters, Philadelphia had more than any U.S. city. If left undisturbed, toxic lead dust spewed from smokestacks can remain in the soil for hundreds of years.</p>

            </div>


            <div class="graphic-section">
                <div class="left-section">
                    <div class="testingmapsection">
                        <div id="map-smelter" class="leaflet-map">
                            &zwj;
                        </div>
                    </div>

                </div>

                <div class="right-section">
                    <div id="smelter-map-legend" class="legend-buttons">
                        <div class="introtext">
                            <span class="emphasis"><i class="fa fa-hand-o-up" aria-hidden="true">&zwj;</i>Toggle the buttons to filter the data.</span>
                        </div>
                        <div class="button-section">
                            <div id="smelter-toggle-1" class="button-row" style="border-bottom: 5px solid #82a6c9">
                                <div class="smelterLegend legend-icon"><i class="fa fa-industry" aria-hidden="true">&zwj;</i></div> Former Smelter location
                            </div>
                            <div id="smelter-toggle-2" class="button-row button-selected" style="border-bottom:5px solid #ff751a">
                                Other “active” EPA sites
                            </div>
                            <div id="smelter-toggle-3" class="button-row button-selected" style="border-bottom:5px solid rgb(197, 209, 118)">
                                Sites the EPA considers “archived”
                            </div>

                        </div>
                    </div>

                    <iframe id="datawrapper-chart-a3Zzu" src="https://datawrapper.dwcdn.net/a3Zzu/7/" frameborder="0" allowtransparency="true" allowfullscreen="allowfullscreen" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" oallowfullscreen="oallowfullscreen"
                        msallowfullscreen="msallowfullscreen" width="100%" height="354"></iframe>
                    <script type="text/javascript">
                        if ("undefined" == typeof window.datawrapper) window.datawrapper = {};
                        window.datawrapper["a3Zzu"] = {}, window.datawrapper["a3Zzu"].embedDeltas = {
                            "100": 354,
                            "200": 354,
                            "300": 354,
                            "400": 354,
                            "500": 354,
                            "600": 354,
                            "700": 354,
                            "800": 354,
                            "900": 354,
                            "1000": 354
                        }, window.datawrapper["a3Zzu"].iframe = document.getElementById("datawrapper-chart-a3Zzu"), window.datawrapper["a3Zzu"].iframe.style.height = window.datawrapper["a3Zzu"].embedDeltas[Math.min(1e3, Math.max(100 * Math.floor(
                            window.datawrapper[
                                "a3Zzu"].iframe.offsetWidth / 100), 100))] + "px", window.addEventListener("message", function(a) {
                            if ("undefined" != typeof a.data["datawrapper-height"])
                                for (var b in a.data["datawrapper-height"])
                                    if ("a3Zzu" == b) window.datawrapper["a3Zzu"].iframe.style.height = a.data["datawrapper-height"][b] + "px"
                        });
                    </script>
                </div>
            </div>

            
            <div class="source">SOURCES: Environmental Protection Agency; Inquirer analysis</div>
            <div class="source credit">JARED WHALEN and GARLAND POTTS / Staff</div>

        </div>
    </div>
</div>
