<div class="row">
    <div class="col-md-10 col col-md-offset-1">
        <div id="soilmapgraphic" class="graphicWrapper">
            <div class="textsection">

                <h3 class="heading">Chart title here</h3>

            </div>
            <div class="graphic-section">
                <div class="left-section">
                    <div class="map-outer">
                        <div class="map-inner">
                            <div id="map-samples" class="leaflet-map">
                            </div>
                            <button class="toggle-button" id="smelter-button"><i class="fa fa-industry" aria-hidden="true"></i></button>
                            <button class="toggle-button" id="low-button"><400</button>
                        </div>
                    </div>
                </div>


                <div class="right-section">
                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum est quo voluptatum et doloremque, facere, ducimus totam minima, quisquam similique facilis incidunt fugit odio dicta autem quibusdam sapiente tempore nostrum.</p>
                    <div class="legend">
                        <div class="legend-row">
                            <div class="radiusLegend legend-icon"></div> 0.5 Mile Radius from Sample
                        </div>
                        <div class="legend-row">
                            <div class="smelterLegend legend-icon"><i class="fa fa-industry" aria-hidden="true"></i></div> Former Smelter
                        </div>
                    </div>
                </div>
            </div>



            <div class="source">Source: xxxXXX</div>
            <div class="source credit">JARED WHALEN / Staff</div>

        </div>
    </div>
</div>
