<div alignment="true" id="navEffectBackground-nav">
    &zwnj;</div>
<!--
<div alignment="true" class="proHead">
    <a href="http://www.philly.com" class="logo-link2 rel"><img src="http://media.philly.com/binary/phillydotcom-logo-dark.svg" class="logo logoItem" alt="Philly.com logo" /></a>
    <div alignment="true" class="proSig logoItem newpaddingfirst">Toxic City</div>
    <div alignment="true" class="proSigLogo logoItem paddinglogo"><img src="http://media.philly.com/images/ToxicCityLogo.png" alt="" /></div>
    <div alignment="true" class="proSigPart logoItem newpadding">Lead Paint</div>
    <div alignment="true" class="proSigMenu logoMenu" id="openMenu">About</div>
</div> -->
<div id="toxiccitynav" class="navbar">
  <div class="philly-logo">
    <a href=""><img class="philly-logo-img" src="http://media.philly.com/binary/phillydotcom-logo-dark.svg" alt=""></a>
  </div>
  <div class="toxic-logo-section">
    <div class="proSig">Toxic City</div>
    <div class="proSigLogo"><img src="http://media.philly.com/images/ToxicCityLogo.png" alt="" /></div>
    <div class="proSigPart">Soil</div>
  </div>
  <div class="toxic-nav-section">
    <div class="part">
      <a href="http://www.philly.com/philly/news/special_packages/toxic-city/major-parts/Philadelphia_ignores_thousands_of_kids_poisoned_by_lead_paint.html">Read Part 1: Lead Paint</a>
    </div>
    <!-- <div id="part2" class="part">
      Part 2
    </div> -->
  </div>
  <div class="nav-about" id="openMenu">
    About
  </div>
</div>


<div alignment="true" class="dropdown-nav"><span id="closeMenu" style="float:right;font-size:20px; padding-bottom:10%;cursor:pointer;" class="glyphicon glyphicon-remove">&zwnj;</span>
    <div alignment="true" class="drop-section-nav">
        <div alignment="true" class="dropTitle-nav">ABOUT THIS SERIES</div>
        <p>&ldquo;Toxic City&rdquo; is an ongoing series that examines how environmental hazards in Philadelphia harm poor and minority children and others. The project is supported by a grant from the University of Southern California Center for Health
            Journalism and the Dennis A. Hunt Fund for Health Journalism.</p>
    </div>
    <div alignment="true" class="drop-section-nav" id="utilitySection-nav">
        <div alignment="true" class="dropTitle-nav">TOOLS</div>
        <div alignment="true" class="toolItem-nav"><a href="http://www.philly.com/philly/news/special_packages/Philadelphia_lead_risk_map.html">Lead Risk Map</a> <br />
            <span>Find out if your neighborhood is a high risk for lead exposure.</span></div>
        <div alignment="true" class="toolItem-nav"><a href="http://www.philly.com/philly/news/special_packages/How_to_deal_with_lead_paint_in_older_homes.html">How to deal with lead paint</a> <br />
            <span>Learn how to properly deal with lead paint in your home.</span></div>
        <div alignment="true" class="toolItem-nav"><a href="http://www.philly.com/philly/news/special_packages/City_neighborhoods_hit_by_lead_the_hardest.html">City neighborhoods hit the hardest by lead</a> <br />
            <span>See what parts of the city have had the highest rates of lead poisoning.</span></div>
    </div>
    <div alignment="true" class="drop-section-nav">
        <div alignment="true" class="dropTitle-nav">ABOUT THE AUTHORS</div>
        <p><strong>Barbara Laker</strong> has been a reporter for more than 30 years, including 23 years at the Daily News. She and <strong>Wendy Ruderman</strong>, won the 2010 Pulitzer Prize for Investigative Reporting for a series about police corruption.
            Ruderman has worked for both the Daily News and Inquirer since 2002. <strong>Dylan Purcell</strong>, who specializes in data analysis, joined the Inquirer in 1998 and was a member of the reporting team that won the 2012 Pulitzer Prize for
            Public Service for its examination of school violence.</p>
    </div>
</div>
