{% include "partials/nav.html" ignore missing %}

<div class="headerIntro">
    <div class="backgroundImage fixedImage1" id="backgroundImage-1">
        <div class="backgroundImageCredit">Xxxx Xxxx / Staff Photographer</div>
    </div>

    <div class="heroText-outer">
        <div class="heroText">
            <div class="mainSigBox">
                <div class="proSig headLogo">Toxic City</div>
                <div class="proSigLogo headLogo"><img src="http://media.philly.com/images/ToxicCityLogo.png" alt="" /></div>
                <div class="proSigPart headLogo">Soil</div>
            </div>
            <h1 class="hero-headline">Headline goes here</h1>
            <div class="inlineByline">By Barbara Laker, Wendy Ruderman, and Dylan Purcell / Staff Writers<br> Photos and video by Jessica Griffin / Staff Photographer</div>
        </div>
    </div>
</div>

<!-- <div class="headerSecåtion">
    <div class="BackgroundImageCaption">
        This is a photo caption.
    </div>
    <div class="headDisplay">
        <div class="subHead">
            This is the subhead.
        </div>
        <div class="byline">
            Jeff McLane / Staff Writer, <a href="mailto:jmclane@phillynews.com">jmclane@phillynews.com</a>

        </div>
        <div class="dateline">Pub date, Xxx. ##, 2017</div>
    </div>

</div> -->

<div class="container bodyContainer">
    <div class="row">
        <div class="col-md-10 col col-md-offset-0">
            <div style="float:right;" class="custom-social-share">&nbsp;</div>
            <div class="containerTextdate">Tuesday, June. 20, 2017</div>
            <p class="extrabottompadding"><span class="accent_1"><span class="dropCap" >H</span>er Kensington neighborhood is full of charm. Swank cafes with rustic wood and vintage lighting. Stoops and decks with skyline views. A network of young parents who bond at parks while their
                children play. </span>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col col-md-offset-1">
            <div class="relatedLinks">
                <h4>Related coverage</h4>
                <ul>
                    <li> <a href="">Physician's 2-year-old son poisoned by lead in their lovely Mount Airy home</a> </li>
                    <li> <a href="">Lawmakers demand action on Philly's lead-paint scourge</a> </li>
                    <li> <a href="">Philly aims to prevent lead poisoning before kids are harmed</a> </li>
                    <li> <a href="">State Sen. Hughes finds money to help fight Philly's lead paint scourge</a> </li>
                    <li> <a href="">Ubiñas: In caring for kids exposed to lead, give Philly a failing grade</a> </li>

                </ul>
            </div>
            <p>Jana Curtis, a mother of three, finds excitement in this urban renaissance.</p>
            <p>But with it comes a sad reality.</p>
            <p>Her daughter was poisoned by lead. The culprit wasn&rsquo;t paint. Or tap water. But soil &ndash; in her own back yard.</p>
            <p>&ldquo;The yard was poisoning my daughter,&rdquo; Curtis said. &ldquo;It&rsquo;s just so horrifying.&rdquo; </p>
            <p>Curtis and her family live in the heart of what was once Philadelphia&rsquo;s industrial hub. For more than 150 years, the &ldquo;river ward&rdquo; neighborhoods of Fishtown, Kensington and Port Richmond, which snake along the Delaware, were
                blanketed with hulking factories and lead smelters. It was a time when manufacturers used lead in everything from paints to plastics. Lunch-pail laborers walked to work from tightly packed rowhomes as lead dust spewed from smokestacks,
                coating sidewalks, stoops and yards.</p>
            <p>Once in the soil, the heavy metal stays indefinitely. Even miniscule amounts can permanently lower a child&rsquo;s IQ and cause behavioral problems.</p>
            <p>At one time, Philadelphia had 38 lead smelters &ndash; more than any other city in America. Fourteen alone operated in the river wards.</p>
            <p>The lead plants are long gone, either razed or shuttered. But a toxic legacy remains.</p>
            <p>Now, amid a development boom, lead that had sat dormant for decades threatens a new generation of children. Every day, construction crews &ndash; unchecked by government &ndash; can churn up poisonous soil, potentially spreading toxic dust
                across these gentrifying neighborhoods.</p>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-md-offset-0 col-md-12">
            <div class="imagebreak">
                <img class="img-fluid" src="http://media.philly.com/images/RS_1200x800_20170613_TOXICCITY2_I_384748175.JPG" alt="" width="100%/">
                <div class="containerPhotoCredit">JESSICA GRIFFIN / Staff Photographer</div>
                <div class="containerPhotoCaption">Jana Curtis and her children walk past a construction site next to their neighborhood park, Wednesday, April 19th, 2017. Three-year-old Nolyn Pace, front, was poisoned by lead in the soil in their backyard and construction dust from the neighborhood.( JESSICA GRIFFIN / Staff Photographer).</div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col col-md-offset-1">

            <p>In the area&rsquo;s most sweeping environmental investigation to date, reporters tested soil in 114 locations &ndash; parks, playgrounds, backyards. Nearly three out of four had hazardous levels of lead contamination &ndash;a problem of previously
                unknown severity.
            </p>
            <p>Reporters also discovered high levels of lead dust on rowhome stoops and sidewalks near construction sites. In tests taken from a popular neighborhood playground &ndash; both before and after digging began at a vacant lot across the street
                &ndash; a once-safe play area was shown to contain lead dust.</p>
            <p>Developers are not required to test soil for lead as a routine precaution before disturbing land. And no single governmental agency is tasked with oversight, leaving residents unprotected while federal, state and city officials quibble over
                who, if anyone, should regulate development within a former industrial area.</p>
            <p>State and federal officials say they only oversee development and cleanup with the boundaries of known contaminated sites. City officials say they don&rsquo;t regulate soil. The city&rsquo;s Department of Public Health is supposed to enforce
                a regulation that requires construction crews to contain noxious dust.</p>
            <p>But in the past several months, reporters witnessed ongoing construction at least two dozen times. Not once did they see workers take dust-control measures, even something as simple as spraying water to hold down dust. </p>
            <p>Philadelphia Health Commissioner Thomas Farley said the city enforces the regulation &ldquo;to the extent that we can.&rdquo;</p>
            <p>Farley pointed out that health data shows lead paint &ndash; not soil &ndash; is the primary source of childhood lead poisoning. While parents should try and prevent their children from playing in dirt in these neighborhoods, Farley said,
                he doesn&rsquo;t consider soil a major risk.</p>
            <p>Any source of lead is cause for concern, said Mary Jean Brown, an adjunct professor at Harvard T. H. Chan School of Public Health.</p>
            <p>&ldquo;A child doesn&rsquo;t distinguish where it came from,&rdquo; Brown said.</p>
            <p>As chief of lead-poisoning prevention at the Centers for Disease Control and Prevention in 2014, Brown spearheaded a study of contaminated soil in the river wards and knows its dangers. The wave of new construction only adds to the peril,
                she said.</p>
            <p>&ldquo;When they&rsquo;re digging it up and it&rsquo;s fine enough to be inhaled, then it&rsquo;s a big issue,&rdquo; she said. &ldquo;We can&rsquo;t ignore this.&rdquo;</p>

        </div>
    </div>
    <div class="col-md-9 col subheadwidth">
        <div class="leadSubhead">Subhead goes here</div>
    </div>
    <div class="row">
        <div class="col-md-8 col col-md-offset-1">

            <p><span class="dropCap">J</span>enni Drozdek and Dan Morgan knew all about the neighborhood&rsquo;s toxic legacy when they moved into their home on Cumberland Street in Kensington.</p>
            <p>They even had their soil tested before planting a garden in 2011. The result came back at 662 parts per million (ppm), considerably higher than the federal threshold. The U.S. Environmental Protection Agency considers hazardous any lead concentration
                above 400 ppm in soil where children play.</p>
            <p>The couple installed raised beds filled with new topsoil so they could plant kale, tomatoes, herbs, beets and carrots. They also spread a thick, protective layer of mulch over the rest of the yard.</p>

        </div>
    </div>
</div>
<div class="container">
    <div class="col-md-offset-0 col-md-12">
        <div class="imagebreak">
            <img class="img-fluid" src="http://media.philly.com/images/RS_2400x1600_20170613_LEADDXX_I_375818581.JPG" alt="" width="100%/">
            <div class="containerPhotoCredit">JESSICA GRIFFIN / Staff Photographer</div>
            <div class="containerPhotoCaption">Two-Year-Old Mina Drozdek plays with dirt in the raised garden beds in her backyard, Tuesday, Dec. 13, 2016, in Philadelphia. Mina&#039;s mother is an avid gardener and installed raised beds with fresh soil in their backyard to avoid any contaminents that are in the ground soil.</div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8 col col-md-offset-1">

            <p>When their daughter, Mina, was born three years later, they thought she would be safe.</p>
            <p>Then the construction fever hit.</p>
            <p>All around them, demolition crews worked at a frenzied pace. The buzz of saws and the rhythmic bleep of excavators backing up could be heard on almost every block. In their 19125 zip code, the number of demolitions doubled between 2015 and
                2016. Construction projects that stirred up soil quadrupled over six years.</p>
            <p>The mammoth reconstruction of I-95 at the Girard Avenue Interchange also added to the dust bowl.</p>

        </div>
    </div>
    <!-- <div class="container"> -->
    {% include "graphics/permit-map.html" ignore missing %}
    <!-- </div> -->
    <!-- <div class="container bodyContainer"> -->
    <div class="row">
        <div class="col-md-8 col col-md-offset-1">

            <p>The grit made residents&rsquo; eyes water. And there were days when Drozdek found her gray Nissan blanketed in dust.</p>
            <p>&ldquo;I had to clean it off because I couldn&rsquo;t see out the windows,&rdquo; she said.</p>
            <p>Last August, the city&rsquo;s Department of Public Health adopted more stringent dust control regulations. But some 30 Fishtown and Kensington residents interviewed in the past few months said they never witnessed a construction project with
                dust controls.</p>
              </div>
</div>
<div class="container spaceTB" alignment="true">
<div class="col-md-offset-0 col-md-12" alignment="true">
<div class="embed-responsive embed-responsive-16by9 "><iframe src="https://www.youtube.com/embed/giQpkS2PEAU" class="embed-responsive-item">
              </iframe></div>
              <div alignment="true" class="containerPhotoCaption">Jenni Drozdek.</div>
            </div>
            </div>
            </div>
            <div class="container" style="margin-bottom:40px" alignment="true">
            <div class="row" alignment="true">
<div class="col-md-8 col col-md-offset-1">
            <p>&ldquo;There&rsquo;s no effort to contain it whatsoever,&rdquo; Drozdek said.</p>
            <p>Exposure to contaminated soil and demolition debris containing lead paint can significantly increase blood lead levels in children, studies show.</p>
            <p>A child who inhales lead dust faces more danger than one who swallows a chip of lead paint because the toxic metal has a more direct pathway to the brain, experts say.</p>

            <div class="expander sidebar lazyload">
                <div class="inner-text">
                    <div class="title">Parents or guardians can reduce their children’s exposure to lead in soil by taking these steps:</div>
                    <ul class="checklist">
                        <li>Cover bare soil with vegetation (grass, mulch, etc.) or even add a layer of clean soil over existing soil to avoid contact</li>
                        <li>Create safe play areas for children with appropriate and clean ground covers. Consider sand boxes for children who like to dig</li>
                        <li>Watch children to identify any hand-to-mouth behavior or excessive intentional dirt eating – these behaviors should be modified or eliminated</li>
                        <li>Create a raised bed and fill with clean soil for gardening to reduce exposures from gardening and digging. Rinse produce well to remove garden soil</li>
                        <li>Wear gloves when working with contaminated soil and remove gloves after gardening</li>
                        <li>Keep children’s hands clean by washing periodically, before coming inside, and before eating. Do not eat food, chew gum or smoke when playing or working in the yard</li>
                        <li>Change and launder any dirty clothes after playing outside</li>
                        <li>Remove shoes before going in the house</li>
                        <li>Frequently bathe your pets as they could also track contaminated soil into your home</li>
                        <li>Regularly conduct damp mopping and damp dusting of surfaces. Dry sweeping and dusting could increase the amount of lead-contaminated dust in the air</li>
                    </ul>
                    <div class="source">SOURCE: U.S. Department of Health and Human Services, Agency for Toxic Substances and Disease Registry</div>
                </div>
                <div class="expand">
                    <span class="etext">Expand</span> <span class="efa"><i class="fa fa-chevron-down" aria-hidden="true">&zwj;</i></span>
                </div>
            </div>

            <p>&ldquo;Ingestion is bad,&rdquo; said Richard Pepino, an environmental toxicology expert at the University of Pennsylvania. &ldquo;Inhalation is worse.&rdquo;</p>
            <p>Simple dust-control measures can prevent people from being harmed, but the health department only has four air management inspectors and two supervisors to oversee a city that last year alone had 3,000 demolition and construction jobs.</p>
            <p>When Drozdek and Morgan took Mina to her routine one-year checkup, her bloodwork came back with a poisonous level of lead: 9 micrograms per deciliter.</p>
            <p>The CDC says public health workers and pediatricians should intervene when children have blood lead levels of 5. And the agency is poised to lower the actionable level to 3.5.</p>
            <p>For now, Philadelphia&rsquo;s health department only opens an investigation when a child hits a level 10. Drozdek&rsquo;s daughter is among some 2,000 city children every year who spike a blood lead level between 5 and 10 and whose families
                are left to fend for themselves.</p>
            <p>&ldquo;I was terrified because you hear how lead poisoning and any kind of lead levels can be dangerous,&rdquo; Drozdek said. &ldquo;Of course, I spent days Googling this. I went into a black hole.&rdquo;</p>
            <p>Drozdek ran out to buy lead paint kits. She tested all over her house and ruled out paint. The couple then had their water tested. The water was safe.</p>
            <p>&ldquo;It was definitely coming from the outside,&rdquo; Morgan concluded.</p>
            <p>But where exactly?</p>
            <p>Drozdek and Morgan invited reporters to retest their yard. At the time, a giant excavator clawed into a large vacant lot on Letterly Street directly behind their house. Digging had gone on for days, creating a hole roughly the size and depth
                of an Olympic swimming pool.</p>
            <p>Just around the corner at Amber and Cumberland streets, a work crew heaped dirt and rubble into 8-feet-high piles.</p>
            <p>&ldquo;There are mounds of it and children climb on it and play on it,&rdquo; Drozdek said. &ldquo;Then of course when it&rsquo;s windy, the top layer gets blown all over the streets.&rdquo;</p>
            <p>Two soil samples from their backyard came back high for lead &ndash; 635 and 726.</p>
            <p>Reporters also took a dust-wipe sample from their unpainted front steps outside. It came back at 1,760 micrograms of lead in dust per square foot. While there is no federal hazard level for outdoor surfaces, the limit for entryways and indoor
                floors is 40.
            </p>



        </div>
    </div>
    <!-- <div class="container"> -->
    {% include "graphics/soil-map.html" ignore missing %}

    <!-- </div> -->
    <!-- <div class="container bodyContainer"> -->
    <div class="row">
        <div class="col-md-8 col col-md-offset-1">


            <p>This dust sample, analyzed by a state-licensed risk assessor, was 44 times higher than the residential limit.</p>
            <p>When told the result, Drozdek was speechless. Dread washed over her face as she realized that Mina spent hours on the stoop.</p>
            <p>&ldquo;She would grab the steps and pivot herself to the next one. Of course, she&rsquo;s a little kid so she&rsquo;s putting hands in her mouth,&rdquo; Drozdek recalled.</p>
            <p>Mina&rsquo;s blood lead level is lower now. Every day, the couple gives her iron drops to prevent lead from binding to her bones. They clean religiously, even wiping down stroller wheels.</p>
            <p>Still, they wonder if it&rsquo;s enough. The construction boom continues.</p>

        </div>
    </div>
    <div class="col-md-9 col subheadwidth">
        <div class="leadSubhead">Subhead goes here</div>
    </div>
    <div class="row">
        <div class="col-md-8 col col-md-offset-1">

            <p><span class="dropCap">I</span>t&rsquo;s almost become routine. Jana Curtis finds herself pushing her baby stroller through her Kensington neighborhood, her three kids in tow, when suddenly she freezes. The minute she sees construction machinery
                digging up dirt, sending plumes of potentially hazardous dust into the air, Curtis abruptly zooms across the street to avoid any danger.</p>
            <p>&ldquo;It&rsquo;s always on my mind,&rdquo; she said.</p>

            <p>She sweeps the front steps of her York Street home regularly. There are no shoes allowed in the house, so sneakers and sandals are neatly lined up at the front door. She vacuums twice a day and mops once.</p>
            <p>She misses her two dogs who passed away, but won&rsquo;t adopt another. A dog would track toxic dirt into the house. &ldquo;It&rsquo;s not worth it with them going outside and coming back in,&rdquo; she said. &ldquo;It&rsquo;s their paws.
                I can&rsquo;t take <em>their</em> shoes off.&rdquo;</p>
            <p>If one of her kids drops a piece of food on the ground, there&rsquo;s no &ldquo;five-second rule.&rdquo;</p>
            </div>
            <div class="container spaceTB" alignment="true">
            <div class="col-md-offset-0 col-md-12" alignment="true">
            <div class="embed-responsive embed-responsive-16by9 "><iframe src="https://www.youtube.com/embed/SGhM6GKyRSU" class="embed-responsive-item">
                          </iframe></div>
                          <div alignment="true" class="containerPhotoCaption">Jana Curtis.</div>
                        </div>
                        </div>
                        </div>
                        <div class="container" style="margin-bottom:40px" alignment="true">
                        <div class="row" alignment="true">
            <div class="col-md-8 col col-md-offset-1">

            <p>&ldquo;I scream, &lsquo;No! You can&rsquo;t touch it!&rsquo; We look like crazy people,&rdquo; she said.</p>
            <p>She has good reason to be hypervigilant. Three years ago, the CDC tested her tap water and backyard soil as part of a lead study in the neighborhood.</p>
            <p>She was stunned by the results. Her house and water were safe. But her yard tested at 1,100 ppm &ndash; nearly three times the federal limit.</p>
            <p>Curtis rushed her daughter, Nolyn, 11 months old at the time, to her pediatrician for a blood test. She had a lead level of 14 micrograms per deciliter, almost three times higher than the amount that the CDC considers troubling.</p>
            <p>&ldquo;It was heartbreaking,&rdquo; Curtis said.</p>
            <p>At 18 months, Nolyn only spoke two words. Curtis&rsquo; oldest child at the same age had a vocabulary of 70.</p>
            <p>Curtis, and her husband, William Pace, a physician who specializes in infectious diseases, enrolled Nolyn in speech therapy and played educational games with her. Now three, Nolyn took big leaps in speech but &ldquo;still has pretty significant
                behavioral challenges,&rdquo; Curtis said.</p>
            <p>Her daughter struggles to make simple decisions, which can trigger temper tantrums.</p>
            <p>So Curtis eliminates choices. &ldquo;There&rsquo;s only one sippy cup for her because every morning there was this big battle. She can&rsquo;t even make a choice between two so we only have one kind. There&rsquo;s no choice. There&rsquo;s
                only one pair of shoes. One coat. One cup.&rdquo;</p>
            <p>At times, guilt still plagues her. &ldquo;Maybe if I&rsquo;d cleaned more, she wouldn&rsquo;t have gotten this. Maybe if I had mopped every day, she&rsquo;d be fine,&rdquo; she said, her voice cracking.</p>
            <p>Still, there&rsquo;s only so much that brooms and sanitizers can do, she said.</p>
            <p>&ldquo;We&rsquo;re not going to clean our way out of this problem,&rdquo; Curtis said. &ldquo;I can clean up enough to protect, Graham, my littlest. But you can&rsquo;t clean your way out of this toxic-ness that&rsquo;s coming from all these
                different places. There&rsquo;s got to be a bigger solution than what I can do in my four walls. It just can&rsquo;t be about mopping.&rdquo;</p>

        </div>
    </div>
    <div class="col-md-9 col subheadwidth">
        <div class="leadSubhead">Subhead goes here</div>
    </div>
    <div class="row">
        <div class="col-md-8 col col-md-offset-1">

            <p><span class="dropCap">L</span>ongtime residents like Gregory Antczak thought they had found something of a solution to their neighborhood&rsquo;s toxic legacy more than a generation ago. Now they know differently.</p>
            <p>Antczak grew up in the shadow of the area&rsquo;s most notorious lead factory, an 8-acre complex of buildings and 20 smokestacks sprawled along both sides of Aramingo Avenue. Over the decades, residents knew the behemoth by different names.
                John T. Lewis Brothers. Dutch Boy Paint. National Lead. And finally, Anzon.</p>
            <p>&ldquo;They always did the same thing,&rdquo; said Antczak, 68, of the companies. &ldquo;They processed millions and millions of pounds of lead in the middle of a highly-populated residential neighborhood.&rdquo;</p>


        </div>
    </div>
    <!-- <div class="container"> -->
    {% include "graphics/smelter-map.html" ignore missing %}

    <!-- </div> -->
    <!-- <div class="container bodyContainer"> -->
    <div class="row">
        <div class="col-md-8 col col-md-offset-1">


            <p>As a boy, he had to take part in routine family evacuations. &ldquo;A siren would go off inside the factory. It was like an air-raid siren, shrill and high,&rdquo; he said. The sound signaled a fire, chemical spill or some other peril.</p>
            <p>His dad would utter the same four words: &ldquo;Get in the car.&rdquo;</p>
            <p>Antczak and his older brother would hop into the family&rsquo;s two-tone 1950 Ford -- white roof, salmon-colored body &ndash; as black smoke and a noxious smell filled the air. His dad drove eight miles north to Antczak&rsquo;s aunt.</p>
            <p>&ldquo;It was the same thing all the time,&rdquo; Antczak said. &ldquo;We get there, the coffee pot would go on the stove, the cake would come out of the refrigerator and then we&rsquo;d wait it out.&rdquo;</p>
            <p>The family had a puppy, a black mutt named Eliza Jane. At only a year old, the dog has a distended stomach and couldn&rsquo;t stop vomiting. Their beloved pet died from what the vet called &ldquo;lead belly,&rdquo; Antczak said.</p>
          </div>
          <div class="container spaceTB" alignment="true">
          <div class="col-md-offset-0 col-md-12" alignment="true">
          <div class="embed-responsive embed-responsive-16by9 "><iframe src="https://www.youtube.com/embed/Rr_VjEw4hew" class="embed-responsive-item">
                        </iframe></div>
                        <div alignment="true" class="containerPhotoCaption">Gregory Antczak.</div>
                      </div>
                      </div>
                      </div>
                      <div class="container" style="margin-bottom:40px" alignment="true">
                      <div class="row" alignment="true">
          <div class="col-md-8 col col-md-offset-1">
            <p>In the early 1980s, Antczak, who worked as a mailman, got married and bought a house near his family on Almond Street, about a block and a half from the plant. Several years later, a plant fire blasted out so much lead dust that Anzon evacuated
                the surrounding blocks. It took Anzon three days to vacuum streets and sidewalks, and decontaminate homes, inside and out. </p>
            <p>By then, Antczak and other residents had had enough. They sued Anzon in 198x for contaminating their homes and imperiling their children. Years later, they settled with the company. Most families received anywhere from a few thousand dollars
                up to, in one case, $16,000. Many families used some of the money to pave over their back yards with concrete to encapsulate the toxic soil.</p>
            <p>Anzon began demolishing the plant in the 1999, leaving behind a vast pile of dirt. The EPA said the site was too toxic for new homes. So under a special program designed to develop contaminated land for commercial use, the state Department
                of Environmental Protection (DEP) oversaw a clean-up, completed in 2003.</p>
            <p>The former <strong>brownfield</strong> is now an asphalt-covered retail hub with an Applebee&rsquo;s, Dunkin&rsquo; Donuts, Rite Aid, AutoZone and Wawa, thanks to Port Richmond Development, a private company. Rather than carting off the toxic
                mound, the developer was allowed to cap it with a foot or more of clean fill dirt and plant grass. Residents have dubbed the mound &ldquo;Mt. Wawa.&rdquo; Many cringe when they see children playing on it.</p>
            <p>As part of an agreement with the DEP, which owns the hill, the developer has to have an environmental company inspect the hill and surrounding asphalt every year. The task involves little more than looking at it.</p>
            <p>An inspection log for the site from 2004 to 2012 shows that an inspector wrote the same two sentences for the nine consecutive visits: &ldquo;All asphalt perfect condition. All grass and landscaping perfectly in place.&rdquo;</p>
            <p>The state does not require the developer to test for lead in the fill dirt capping the mound.</p>
            <p>Meanwhile, residents have had their doubts. Five years ago, some of them urged the EPA to determine whether Mt. Wawa was safe. The developer&rsquo;s environmental firm gave an answer:</p>
            <p>&ldquo;We are pleased to report, as expected, that the cap is being appropriately maintained, and remains protective.&rdquo;</p>
            <p>Reporters recently tested a patch of bare soil at the apron of Mt. Wawa. Its lead level came back at 2,904 ppm, about six times the allowable limit.</p>
            <p>&ldquo;We were told it was safe, that it was all encapsulated,&rdquo; said Sandy Salzman, former executive director of the New Kensington Community Development Corporation. This news brought fresh worry.</p>
            <p>&ldquo;In the summer time, the kids play there and slide down the hill,&rdquo; Saltzman said. &ldquo;<strong>No trespassing&rdquo; signs appeared on the hill after reporters began making inquiries.</strong></p>
            <p>RESPONSE FROM DEVELOPER HERE</p>
            <p>Just across the street is Cione Playground, which decades ago had been saturated with Anzon&rsquo;s lead. In a one-time arrangement, the city received $500,000 from the company in 199<strong>x</strong> to abate the lead and, under EPA guidance,
                make the playground safe for the public.</p>
            <p>Reporters recently tested soil at Cione&rsquo;s ballfields, and it came back low. But soil tested in four locations near the community swimming pool returned unsafe levels, between 613 and 955 ppm.</p>
            <p>Told of the test results, city spokeswoman Lauren Hitt said the city was not responsible for regulating soil. &ldquo;If we become aware of a toxic soil situation, we notify EPA and /or DEP,&rdquo; she replied.</p>

        </div>
    </div>
    <div class="col-md-9 col subheadwidth">
        <div class="leadSubhead">Subhead goes here</div>
    </div>
    <div class="row">
        <div class="col-md-8 col col-md-offset-1">

            <p>Last section TK Tuesday</p>
        </div>
    </div>
</div>

<!-- </div>
    </div>
    <div class="row">
        <div class="col imagebreak">
            <img class="img-fluid" src="http://media.philly.com/images/800*533/112715_Philadelphia-Skyline.jpg" alt="" width="100%/">
            <div class="containerPhotoCredit">File photo</div>
            <div class="containerPhotoCaption">A full column width photo of Gavin.</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col col-md-offset-1"> -->

<!-- </div>
    </div>
    <div class="container">
    </div>
    <div class="container bodyContainer">
        <div class="row">
            <div class="col-md-8 col col-md-offset-1"> -->


<!-- </div>
        </div>
    </div>
    <div class="container">

    </div>
    <div class="container bodyContainer">
        <div class="row">
            <div class="col-md-8 col col-md-offset-1"> -->

<!-- <div class="container">

    </div> -->
<!-- <div class="graphicExpand-wrapper">
        <div class="graphicExpand-frame">
            <ul>
                <li>Cover bare soil with vegetation (grass, mulch, etc.) or even add a layer of clean soil over existing soil to avoid contact</li>
                <li>Create safe play areas for children with appropriate and clean ground covers. Consider sand boxes for children who like to dig</li>
                <li>Watch children to identify any hand-to-mouth behavior or excessive intentional dirt eating – these behaviors should be modified or eliminated</li>
                <li>Create a raised bed and fill with clean soil for gardening to reduce exposures from gardening and digging. Rinse produce well to remove garden soil</li>
                <li>Wear gloves when working with contaminated soil and remove gloves after gardening</li>
                <li>Keep children’s hands clean by washing periodically, before coming inside, and before eating. Do not eat food, chew gum or smoke when playing or working in the yard</li>
                <li>Change and launder any dirty clothes after playing outside</li>
                <li>Remove shoes before going in the house</li>
                <li>Frequently bathe your pets as they could also track contaminated soil into your home</li>
                <li>Regularly conduct damp mopping and damp dusting of surfaces. Dry sweeping and dusting could increase the amount of lead-contaminated dust in the air</li>
            </ul>
            <div class="source">SOURCE: U.S. Department of Health and Human Services, Agency for Toxic Substances and Disease Registry</div>
        </div>
        <div class="graphicExpand-container">
            <!-- <img class="graphicExpand-icon" src="http://media.philly.com/storage/inquirer/SVG/checkMark_LC.svg" alt="" style="display: block;"> -->
<!-- <div class="graphicExpand-button"><i class="fa fa-caret-down" aria-hidden="true">&zwj;</i>
            </div>
            <div class="graphicExpand-headline">Parents or guardians can reduce their children’s exposure to lead in soil by taking these steps:</div>
        </div>
    </div> -->
<div class="creditSection">
    <div class="creditRow">
        <div class="position">Photography by</div>
        <div class="name">Name Name</div>
    </div>
    <div class="creditRow">
        <div class="position">Video by</div>
        <div class="name">Name Name</div>
    </div>
    <div class="creditRow">
        <div class="position">Credit Position Credit Position</div>
        <div class="name">Name Name</div>
    </div>
    <div class="creditRow">
        <div class="position">Credit Position</div>
        <div class="name">Name Name</div>
    </div>
</div>

<div class="headerIntro footerimage">
    <div class="backgroundImage" id="backgroundImage-2">
        <div class="backgroundImageCredit">Xxxx Xxxx / Staff Photographer</div>
    </div>
</div>
