{% include "partials/nav.html" ignore missing %}

<div class="headerIntro">
    <div class="backgroundImage" id="">
        <video id="introvideo" class="background-video" poster="http://media.philly.com/storage/inquirer/video/dronestill.jpg" autoplay muted loop playsinline>
      <source src="http://media.philly.com/storage/inquirer/video/drone-hero.mp4" type="video/mp4">
    <!-- <source src="movie.ogg" type="video/ogg"> -->Your browser does not support the video tag.
    </video>
        <!-- <div class="backgroundImageCredit">JESSICA GRIFFIN / Staff Photographer</div> -->
    </div>


    <div class="heroText-outer">
        <div class="heroText">
            <div class="mainSigBox">
                <div class="proSig headLogo">Toxic City</div>
                <div class="proSigLogo headLogo"><img src="http://media.philly.com/images/ToxicCityLogo.png" alt="" /></div>
                <div class="proSigPart headLogo">Tainted Soil</div>
            </div>
            <h1 class="hero-headline">In booming Philadelphia neighborhoods, lead-poisoned soil is resurfacing</h1>

        </div>
        <div class="heroText heroSubhead">

            <div class=" hero-headline hero-headline-subhead" style="">Breakneck construction has unearthed a toxic legacy, coating playgrounds and backyards with dangerous levels of lead dust</div>
            <div class="inlineByline">By Wendy Ruderman, Barbara Laker, and Dylan Purcell / Staff Writers<br> Photos and video by Jessica Griffin / Staff Photographer</div>
        </div>
    </div>
</div>
<div class="container bodyContainer">
    <div class="row">
        <div class="margin-top col-md-9 col col-md-offset-1">
            <div style="float:right;" class="custom-social-share">&zwj;</div>
            <div class="containerTextdate">Sunday, June 18, 2017</div>
            <p class="extrabottompadding"><span class="accent_1"><span class="dropCap" >H</span>er Kensington neighborhood is full of charm. Swank cafes with rustic wood and vintage lighting. Stoops and decks with skyline views. Young parents who bond at parks while their children play.</span>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col col-md-offset-1">

            <p>Jana Curtis, a mother of three, finds excitement in this urban renaissance.</p>
            <p>But with it comes a sad reality.</p>
            <p>Her daughter was poisoned by lead. The culprit wasn&rsquo;t paint. Or tap water. But soil &mdash; in her own backyard.</p>
            <p>&ldquo;The yard was poisoning my daughter,&rdquo; Curtis said. &ldquo;It&rsquo;s just so horrifying.&rdquo;</p>
            <p>Curtis and her family live in the heart of what was once Philadelphia&rsquo;s industrial hub. For most of the last century, the &ldquo;river ward&rdquo; neighborhoods of Fishtown, Kensington, and Port Richmond, which snake along the Delaware, were blanketed
                with hulking factories and lead smelters. It was a time when manufacturers used lead in everything from paints to plastics. Lunch-pail laborers walked to work from tightly packed row homes as lead dust spewed from smokestacks, coating sidewalks, stoops,
                and yards.</p>

        </div>
    </div>
</div>
<div class="container fullimage">
    <div class="col-md-offset-0 col-md-12 col">
        <div class="imagebreak">
            <img class="img-fluid" src="http://media.philly.com/images/Toxiccity02-0001.JPG" alt="" width="100%/">
            <div class="containerPhotoCredit">JESSICA GRIFFIN / Staff Photographer</div>
            <div class="containerPhotoCaption">Jana Curtis and two of her children walk past one of many construction sites in their river ward neighborhood. Three-year-old Nolyn Pace, center, was poisoned by lead in the soil in their backyard. </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8 col col-md-offset-1">

            <div class="relatedLinks">
                <h4>Related coverage</h4>
                <ul>
                    <li><a href="http://www.philly.com/philly/news/special_packages/toxic-city/major-parts/Philadelphia_ignores_thousands_of_kids_poisoned_by_lead_paint.html">Toxic City Part 1: Philly's shame: City ignores thousands of poisoned kids</a></li>
                    <li> <a href="http://www.philly.com/philly/news/special_packages/toxic-city/stories/Physicians-2-year-old-son-poisoned-by-lead-in-their-lovely-Mt-Airy-home.html">Physician's 2-year-old son poisoned by lead in their lovely Mount Airy home</a>                        </li>
                    <li> <a href="http://www.philly.com/philly/news/special_packages/Philadelphia_lead_risk_map.html">Map: Toxic Lead Risk Remains High in Philadelphia</a> </li>


                </ul>
            </div>
            <p>Once in the soil, the heavy metal stays indefinitely. Even <a href="https://www.documentcloud.org/documents/3864818-2015-Soils-and-Health-Closing-the-Soil-Knowledge.html">minuscule amounts</a> can permanently lower a child&rsquo;s IQ and cause behavioral problems.</p>

            <p>At one time, Philadelphia had 36 lead smelters &mdash; more than any other city in America. Fourteen alone operated in these river wards.</p>
            <p>The lead plants are long gone, either razed or shuttered. But their toxic legacy remains.</p>
            <p>Today a development boom is disturbing lead that has sat dormant for decades. Construction crews &mdash; unchecked by government &mdash; churn up poisonous soil that can spread toxic dust across these gentrifying neighborhoods. This renaissance puts a
                new generation of children at risk.</p>
            <p>In the area&rsquo;s most sweeping environmental investigation to date, the Inquirer and Daily News tested exposed soil in 114 locations in the river wards &mdash; parks, playgrounds, yards. Nearly three out of four had hazardous levels of lead contamination
                &mdash; a problem of previously unknown severity.</p>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 pull-right wide-right">
                <div class="imagebreak">
                    <img class="img-fluid" src="http://media.philly.com/images/Toxiccity02-0002.JPG" alt="" width="100%/">
                    <div class="containerPhotoCredit">JESSICA GRIFFIN / Staff Photographer</div>
                    <div class="containerPhotoCaption">Melissa Billingsley, a state-licensed risk assessor for Criterion Laboratories, takes a soil sample in a yard located on the 2600 block of East Thompson street. The yard tested high for lead. </div>
                </div>
            </div>
            <p>In addition, reporters discovered high levels of lead dust on rowhouse stoops and sidewalks near construction sites. In tests taken from a popular neighborhood playground &mdash; both before and after digging began at a vacant lot across the street &mdash;
                a once-safe play area was shown to contain lead dust.</p>
            <p>Developers are not required to test soil for lead as a routine precaution before disturbing land. Further, no single governmental agency is responsible for making certain a yard&rsquo;s&nbsp;soil is safe.</p>
            <p>Federal, state, and city officials, who have known about lead in the soil here for decades, quibble over who, if anyone, should regulate development within a former industrial area. State and federal officials say they only oversee development and cleanup
                within the boundaries of known contaminated sites. City officials say they don&rsquo;t regulate soil.</p>
                <div class="adUnitWrapper containerMedia containerInsertRight" alignment="true">
                    <div class="adUnit" alignment="true">
                        <div id="div-gpt-ad-mrec-21" alignment="true">
                            <script alignment="true" type="text/javascript">
                                // <![CDATA[
                                cX.callQueue.push(['invoke', function() {
                                    googletag.cmd.push(function() {
                                        googletag.display('div-gpt-ad-mrec-21');
                                    });
                                }]);
                                // ]]>
                            </script>
                        </div>
                    </div>
                </div>
            <p>The city&rsquo;s Department of Public Health is supposed to enforce a regulation that requires construction crews to contain noxious dust. Reporters spent five months in these neighborhoods, testing soil, interviewing residents, and keeping tabs on at
                least two dozen ongoing construction sites. Not once did they see workers take dust-control measures, even something as simple as spraying water to hold down dust.</p>
            <p>Philadelphia Health Commissioner Thomas Farley said the city enforces dust regulations &ldquo;to the extent that we can.&rdquo;</p>
            <p>Farley pointed out that lead paint &mdash; not soil &mdash; is the primary source of childhood lead poisoning. &ldquo;Lead levels correlate to poverty and they correlate with older housing,&rdquo; he said. &ldquo;They don&rsquo;t light up where there
                were smelters.&rdquo;</p>
            <p>Farley said that while parents should try to prevent their children from playing in dirt in these neighborhoods, he doesn&rsquo;t consider soil a major risk. &ldquo;Risk from soil and dust is &mdash; it&rsquo;s certainly a theoretical risk.&rdquo;</p>
            <p>Experts such as Mary Jean Brown, former chief of lead-poisoning prevention at the Centers for Disease Control and Prevention, strongly disagree.</p>
            <p>Brown has long studied the health impacts of lead-laced soil on young children and pregnant women in these postindustrial neighborhoods. There are dangerous levels of lead in the soil here, so we must do something, she said.</p>
            <p>The wave of new construction only adds to the peril, Brown said.</p>
            <p>&ldquo;When they&rsquo;re digging it up and it&rsquo;s fine enough to be inhaled, then it&rsquo;s a big issue,&rdquo; she said. &ldquo;We can&rsquo;t ignore this.&rdquo;</p>
        </div>
    </div>
    <!-- <div class="container"> -->
    {% include "graphics/soil-map.html" ignore missing %}


</div>

<div class="container">
    <div class="row">
        <div class="col-md-9 col subheadwidth">
            <div class="leadSubhead">&lsquo;Inhalation is worse&rsquo;</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col col-md-offset-1">

            <p><span class="dropCap">J</span>enni Drozdek and Dan Morgan knew all about the neighborhood&rsquo;s toxic legacy when they moved into their home on Cumberland Street in Kensington in 2011.</p>

            <p>They even had their soil tested before planting a garden where they wanted to grow kale, tomatoes, beets, and carrots.</p>
            <div class="adUnitWrapper containerMedia containerInsertRight" alignment="true">
                <div class="adUnit" alignment="true">
                    <div id="div-gpt-ad-mrec-22" alignment="true">
                        <script alignment="true" type="text/javascript">
                            // <![CDATA[
                            cX.callQueue.push(['invoke', function() {
                                googletag.cmd.push(function() {
                                    googletag.display('div-gpt-ad-mrec-22');
                                });
                            }]);
                            // ]]>
                        </script>
                    </div>
                </div>
            </div>
            <p>Federal guidance says not to grow root vegetables or allow children in gardens where soil tests above 150 parts per million (ppm).</p>
            <p>An <a href="https://www.documentcloud.org/documents/3679618-Kansas-State-U-Lead.html">EPA-funded</a> experiment of vegetables grown in Kensington soil with lead at roughly 1,000 ppm found&nbsp;carrots and beets with lead at five to 40 times the safe level for human consumption.</p>
            <p>The result of the couple's soil test came back at 662 parts per million, considerably higher than the federal threshold. The EPA considers hazardous any lead concentration above 400 ppm in soil where children play.</p>
            <p>The couple installed raised beds filled with new topsoil. They also spread a thick, protective layer of mulch over the rest of the yard.</p>
        </div>
    </div>
</div>
<div class="container fullimage">
    <div class="col-md-offset-0 col-md-12 col">
        <div class="imagebreak">
            <img class="img-fluid" src="http://media.philly.com/images/Toxiccity02-0003.JPG" alt="" width="100%/">
            <div class="containerPhotoCredit">JESSICA GRIFFIN / Staff Photographer</div>
            <div class="containerPhotoCaption">Mina plays with dirt in the raised garden beds in her backyard. Mina's mother, Jenni Drozdek, is an avid gardener and installed raised beds with fresh soil in their Kensington backyard to avoid contaminants in the ground soil. Despite that precaution, Mina developed lead poisoning.</div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8 col col-md-offset-1">
            <p>When their daughter, Mina, was born three years later, they thought she would be safe.</p>
            <p>Then construction fever heated up.</p>
            <p>All around them, demolition crews worked at a frenzied pace. The buzz of saws and the beep-beep of excavators backing up could be heard on almost every block. In their 19125 zip code, the number of demolitions doubled between 2015 and 2016. Construction
                projects increased fivefold since 2010.</p>
                <div class="adUnitWrapper containerMedia containerInsertRight" alignment="true">
                    <div class="adUnit" alignment="true">
                        <div id="div-gpt-ad-mrec-23" alignment="true">
                            <script alignment="true" type="text/javascript">
                                // <![CDATA[
                                cX.callQueue.push(['invoke', function() {
                                    googletag.cmd.push(function() {
                                        googletag.display('div-gpt-ad-mrec-23');
                                    });
                                }]);
                                // ]]>
                            </script>
                        </div>
                    </div>
                </div>
            <p>The mammoth reconstruction of I-95 nearby also added to the dust bowl.</p>
            <p>The grit made residents&rsquo; eyes water. And there were days when Drozdek found her gray Nissan blanketed in dust.</p>
            <p>&ldquo;I had to clean it off because I couldn&rsquo;t see out the windows,&rdquo; she said.</p>
            <p>Last August, the city&rsquo;s health department&nbsp;adopted more stringent <a href="http://www.phila.gov/health/pdfs/AMSRegulationI_II_IIICombined_20160811.pdf">dust-control regulations</a>. But some 30 Fishtown and Kensington residents interviewed in the last few months said they never witnessed a construction project with dust controls.</p>
            <p>&ldquo;There&rsquo;s no effort to contain it whatsoever,&rdquo; Drozdek said.</p>
            <p>The couple often take Mina to one of the busiest parks in Fishtown, Shissler Recreation Center on Blair Street. It was once the site of a major railroad hub and train yard.</p>
        </div>
    </div>
</div>
<div class="container fullimage">
    <div class="col-md-offset-1 col-md-10 col">
        <div class="imagebreak">
            <img class="img-fluid" src="http://media.philly.com/storage/inquirer/video/toxic-city-construction3.gif" alt="" width="100%/">
            <div class="containerPhotoCredit">JESSICA GRIFFIN / Staff Photographer</div>
            <div class="containerPhotoCaption">Dust rises from a construction site on the 1800 block of Blair Street across the street from the playground at Shissler Recreation Center on April 14, 2017.</div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8 col col-md-offset-1">
            <p>Earlier this year, a reporter took a dust-wipe sample from the playground and found no detectable levels of lead.</p>
            <p>About three months later, in early May, a reporter took another sample from the same spot. At the time, construction workers were using backhoes to dig foundations for new homes going up across the street. Dust and dirt were swirling around as children
                were busy at play.</p>
            <p>This sample shot up to 127.4 micrograms of lead in dust per square foot. While there is no federal hazard level for outdoor surfaces, the limit for entryways and indoor floors is 10 and 40 for porches.</p>
            <p>Whether the lead came from a construction site across the street is uncertain.</p>
            <p>When construction manager Justin Kaplan was told that tests revealed high lead levels on playground surfaces, including where children had scrawled chalk drawings, he said he felt sick.</p>
            <p>&ldquo;I have kids,&rdquo; Kaplan said, his voice anguished. &ldquo;I don&rsquo;t want my kids rolling around in lead dust while they are chalk-drawing &mdash; believe me.&rdquo;</p>
            <p>After his crews unearthed old storage tanks during excavation, they had to stop and have the soil tested, he said.&nbsp;It came back high for lead, he said.</p>
            <p>Montgomery County developer Nicholas Sylvestro, of the La Capretto company, is building six single-family homes on the Blair Street site. He did not return three calls seeking comment.</p>
            <p>Exposure to contaminated soil and demolition debris containing lead paint can significantly increase blood lead levels in children, studies show.</p>
            <p>A child who inhales lead dust faces more danger than one who swallows dirt because dust has a more direct path to the brain, experts say.</p>

            <div class="expander sidebar">
                <div class="inner-text">
                    <div class="title">How you can reduce exposure to lead hazards in soil:</div>
                    <ul class="checklist">
                        <li>Cover bare soil with grass or mulch, or cover with a layer of clean topsoil.</li>
                        <li>Create safe play areas for children with clean ground covers. Consider sand boxes for children who like to dig.</li>
                        <li>Monitor young children to prevent intentional dirt eating.</li>
                        <li>Use raised beds with clean topsoil for gardening. Rinse produce well to remove garden soil.</li>
                        <li>Use gloves when working in old soil.</li>
                        <li>Keep children’s hands clean by washing periodically, particularly when coming in from outdoors and before eating.</li>
                        <li>Change and launder any dirty clothes after playing outside.</li>
                        <li>Remove shoes before going in the house.</li>
                        <li>Frequently bathe pets and clean their feet. They can track in contaminated soil.</li>
                        <li>Regularly wet mop floors, stairs and entryways. Damp dust surfaces. Dry sweeping and dusting could increase the amount of lead dust in the air.</li>
                        <li>Hose down front and back steps, especially on dry, windy days and if construction is ongoing nearby.</li>
                    </ul>
                    <div class="source">SOURCE: U.S. Department of Health and Human Services, Agency for Toxic Substances and Disease Registry</div>
                </div>
                <div class="expand">
                    <span class="etext">Expand</span> <span class="efa"><i class="fa fa-chevron-down" aria-hidden="true">&zwj;</i></span>
                </div>
            </div>

            <p>&ldquo;Ingestion is bad,&rdquo; said Richard Pepino, an environmental toxicology expert at the University of Pennsylvania. &ldquo;Inhalation is worse.&rdquo;</p>
            <p>Simple dust-control measures can prevent people from being harmed, but the health Department has only &nbsp;four air management inspectors and two supervisors to oversee a city that last year alone had about 2,500 demolition and construction jobs.</p>
            <p>When Drozdek and Morgan took Mina to her routine one-year checkup, her bloodwork came back with a poisonous level of lead: 9 micrograms per deciliter.</p>
            <p>The CDC says public health and pediatricians should intervene when children have a blood lead level of 5. At that level, children lose six IQ points on average. Even with lower lead levels, children exhibit increased impulsivity, aggression, and hyperactivity,
                and have diminished academic abilities, research shows. In adults, experts say, low-level exposure over time can cause memory loss and depression, and harm the heart, kidneys, brain, and reproductive functions.</p>
            <p>For now, the Health Department investigates only when a child hits a level of 10. Drozdek&rsquo;s daughter is among roughly 2,000 city children every year who spike a blood lead level between 5 and 10 and whose families are left to fend for themselves.</p>
            <p>&ldquo;I was terrified because you hear how lead poisoning and any kind of lead levels can be dangerous,&rdquo; Drozdek said.</p>
            <p>Drozdek bought kits to detect lead on painted surfaces and tested all over her house. That wasn&rsquo;t the source. The couple had their water tested. They ruled that out, too.</p>
            <p>&ldquo;It was definitely coming from the outside,&rdquo; Morgan concluded. But where exactly?</p>
            <p>Drozdek and Morgan invited reporters to retest their yard. At the time, a giant excavator clawed into a large vacant lot on Letterly Street directly behind their house. Digging had gone on for days, creating a hole roughly the size of an Olympic swimming
                pool.</p>
            <p>Construction crews had dumped excess soil on an adjacent city-owned lot. Reporters sampled the soil and found high lead &ndash; 1,647 ppm.</p>
            <p>Developer Steven Kravets, of Bucks County, said he did not test the soil for lead beforehand. He said it wasn&rsquo;t required. The city does require developers to do a geological soil survey to make sure the land is firm enough to support a large structure.</p>

        </div>
    </div>
</div>
<div class="container fullimage">
    <div class="col-md-offset-1 col-md-10 col">
        <div class="imagebreak">
            <img class="img-fluid" src="http://media.philly.com/images/Toxiccity02-0005.JPG" alt="" width="100%/">
            <div class="containerPhotoCredit">JESSICA GRIFFIN / Staff Photographer</div>
            <div class="containerPhotoCaption">Jenni Drozdek and her daughter Mina in the back yard at their East Kensington home in Philadelphia, where new homes are being built directly behind theirs. </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8 col col-md-offset-1">

            <p>&ldquo;For that area, a quick study by the soil engineer. There was not much to it,&rdquo; Kravets said.</p>
            <p>When told about the lead in the dirt pile, Kravets asked if reporters had tested soil not just in Kensington, but in neighboring Fishtown. Told yes, he offered no further response.</p>
            <p>There are tall piles of dirt at construction sites all over&nbsp;both neighborhoods.</p>
            <p>Down the street from Drozdek&rsquo;s house, a work crew heaped dirt and rubble into 8-foot-high piles.</p>

        </div>
    </div>


    {% include "graphics/permit-map.html" ignore missing %}

    <div class="row">
        <div class="col-md-8 col col-md-offset-1">
            <p>&ldquo;There are mounds of it and children climb on it and play on it,&rdquo; Drozdek said. &ldquo;Then of course when it&rsquo;s windy, the top layer gets blown all over the streets.&rdquo;</p>
            <p>Two soil samples from her backyard tested high for lead &mdash;&nbsp;635 and 726 ppm.</p>
            <p>Reporters also swipe-tested for lead dust on their front steps. It came back at 1,760 micrograms, 44 times higher than the residential limit for porches.</p>

            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 pull-right wide-right">
                <div class="imagebreak">
                    <img class="img-fluid" src="http://media.philly.com/images/Toxiccity02-0006.JPG" alt="" width="100%/">
                    <div class="containerPhotoCredit">JESSICA GRIFFIN / Staff Photographer</div>
                    <div class="containerPhotoCaption">Melissa Billingsley, a state-licensed risk assessor for Criterion Laboratories, takes a dust wipe sample to test for lead on the front steps of the home of Jenni Drozdek and Dan Morgan. The test came back at 1,760 micrograms per square
                        foot, 44 times higher than the residential limit for indoor porches.</div>
                </div>
            </div>

            <p>When told the result, Drozdek was speechless, realizing that Mina had spent hours on the stoop.</p>
            <p>&ldquo;She would grab the steps and pivot herself to the next one,&rdquo; Drozdek said. &ldquo;Of course, she&rsquo;s a little kid, so she&rsquo;s putting her hands in her mouth.&rdquo;</p>
            <p>Mina&rsquo;s blood lead level is lower now. Every day, the couple give her iron drops to prevent lead from binding to her bones. They clean religiously, even wiping down stroller wheels.</p>
            <p>Still, as the construction boom continues, they wonder if it&rsquo;s enough.</p>

        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-9 col subheadwidth">
            <div class="leadSubhead">She spoke only two words</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col col-md-offset-1">

            <p><span class="dropCap">I</span>t has almost become routine. Jana Curtis finds herself pushing her baby stroller through her Kensington neighborhood, her three kids in tow, when suddenly she freezes. The minute she sees construction machinery digging up dirt, sending plumes of potentially
                hazardous dust into the air, Curtis abruptly zooms across the street to avoid any danger.</p>

        </div>
    </div>
</div>
<div class="container fullimage">
    <div class="col-md-offset-0 col-md-12 col">
        <div class="imagebreak">
            <img class="img-fluid" src="http://media.philly.com/images/Toxiccity02-0007.JPG" alt="" width="100%/">
            <div class="containerPhotoCredit">JESSICA GRIFFIN / Staff Photographer</div>
            <div class="containerPhotoCaption">Jana Curtis hugs her 3-year-old daughter, Nolyn Pace, in their neighborhood park on a recent spring day. Nolyn's blood tested high for lead in December 2014. Curtis had her daughter tested after learning that the soil in the backyard of their Kensington home was contaminated with lead.

            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8 col col-md-offset-1">

            <p>&ldquo;It&rsquo;s always on my mind,&rdquo; she said.</p>
            <p>She sweeps the front steps of her York Street home regularly. There are no shoes allowed in the house, so sneakers and sandals are neatly lined up at the front door. She vacuums twice a day and mops once.</p>
            <p>She misses her two dogs who passed away, but won&rsquo;t adopt another. A dog would track toxic dirt into the house. &ldquo;It&rsquo;s not worth it with them going outside and coming back in,&rdquo; she said. &ldquo;It&rsquo;s their paws. I can&rsquo;t
                take <em>their</em> shoes off.&rdquo;</p>
            <p>If one of her kids drops a piece of food on the ground, there&rsquo;s no &ldquo;five-second rule.&rdquo;</p>


            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 pull-right wide-right">
                <div class="embed-responsive embed-responsive-16by9 "><iframe src="https://www.youtube.com/embed/lOEh1mm8Yp0" class="embed-responsive-item">
                                </iframe></div>
                <div class="containerPhotoCaption">Jana Curtis.</div>
            </div>

            <p>&ldquo;I scream, &lsquo;No! You can&rsquo;t touch it!&rsquo; We look like crazy people,&rdquo; she said.</p>
            <p>She has good reason to be hypervigilant. Three years ago, the CDC tested her tap water and backyard soil as part of a <a href="https://www.documentcloud.org/documents/3679630-CDC-Lead-Study-Summary.html">lead study</a> in the neighborhood.</p>
            <p>She was stunned by the results. Her house and water were safe. But she said her yard tested at 1,100 ppm &mdash; nearly three times the federal limit.</p>
            <p>Curtis rushed her daughter, Nolyn, 11 months old at the time, to her pediatrician for a blood test. She had a lead level of 14 micrograms per deciliter, almost three times higher than the amount that the CDC considers troubling.</p>
            <p>&ldquo;It was heartbreaking,&rdquo; Curtis said.</p>
            <p>At 18 months, Nolyn spoke only two words. Curtis&rsquo; oldest child at the same age had a vocabulary of 70.</p>
            <p>Curtis, and her husband, William Pace, a physician who specializes in infectious diseases, enrolled Nolyn in speech therapy and played educational games with her. Now 3, Nolyn took big leaps in speech but &ldquo;still has pretty significant behavioral
                challenges,&rdquo; Curtis said.</p>
        </div>
    </div>
</div>
<div class="container fullimage">
    <div class="col-md-offset-1 col-md-10 col">
        <div class="imagebreak">
            <img class="img-fluid" src="http://media.philly.com/images/Toxiccity02-0009.JPG" alt="" width="100%/">
            <div class="containerPhotoCredit">JESSICA GRIFFIN / Staff Photographer</div>
            <div class="containerPhotoCaption">Nolyn plays in the remediated backyard  of her Kensington home.</div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8 col col-md-offset-1">

            <p>Her daughter struggles to make simple decisions, which can trigger temper tantrums.</p>
            <p>So Curtis eliminates choices. &ldquo;There&rsquo;s only one sippy cup for her because every morning there was this big battle. She can&rsquo;t even make a choice between two so we only have one kind. There&rsquo;s no choice. There&rsquo;s only one pair
                of shoes. One coat. One cup.&rdquo;</p>
            <p>At times, guilt still plagues Curtis. &ldquo;Maybe if I&rsquo;d cleaned more, she wouldn&rsquo;t have gotten this. Maybe if I had mopped every day, she&rsquo;d be fine,&rdquo; she said, her voice cracking.</p>
            <p>Still, there&rsquo;s only so much that brooms and sanitizers can do, she said.</p>
            <p>&ldquo;We&rsquo;re not going to clean our way out of this problem,&rdquo; Curtis said. &ldquo;I can clean up enough to protect, Graham, my littlest. But you can&rsquo;t clean your way out of this toxic-ness that&rsquo;s coming from all these different
                places. There&rsquo;s got to be a bigger solution than what I can do in my four walls. It just can&rsquo;t be about mopping.&rdquo;</p>

        </div>
    </div>
</div>

{% include "partials/video-intro.html" %}


<!-- {% include "partials/video-trans-2.html" %} -->


<div class="container">
    <div class="row">
        <div class="col-md-9 col subheadwidth">
            <div class="leadSubhead">Stay off the hill</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col col-md-offset-1">

            <p><span class="dropCap">L</span>ongtime residents like Gregory Antczak thought they had found something of a solution to their neighborhood&rsquo;s toxic legacy more than a generation ago. Now they know differently.</p>
            <p>Antczak grew up in the shadow of the area&rsquo;s most notorious lead factory, an eight-acre complex of 52 buildings and nine smokestacks sprawled along both sides of Aramingo Avenue. Over nearly 150 years, workers ground lead into a powder used in bathtub
                enamel, paint, soaps, car batteries,&nbsp;and plastics. Residents knew the behemoth by different names. John T. Lewis Brothers. Dutch Boy Paint. National Lead. And finally, Anzon.</p>
            <p>&ldquo;They always did the same thing,&rdquo; said Antczak, 68, of the companies. &ldquo;They processed millions and millions of pounds of lead in the middle of a highly populated residential neighborhood.&rdquo;</p>
            <p>As a boy, he had to take part in routine family evacuations. &ldquo;A siren would go off inside the factory. It was like an air-raid siren, shrill and high,&rdquo; he said. The sound signaled a fire, chemical spill, or some other peril.</p>
            <p>His dad would utter the same four words: &ldquo;Get in the car.&rdquo;</p>
            <p>Antczak and his older brother would hop into the family&rsquo;s two-tone 1950 Ford &mdash; white roof, salmon-colored body &mdash; as black smoke and a noxious smell filled the air. His dad drove eight miles north to the house of Antczak&rsquo;s aunt.</p>
            <p>&ldquo;It was the same thing all the time,&rdquo; Antczak said. &ldquo;We get there, the coffeepot would go on the stove, the cake would come out of the refrigerator, and then we&rsquo;d wait it out.&rdquo;</p>


        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col col-md-offset-1">
            <div class="graphicWrapper">
                <div class="textsection">
                    <h3 class="heading">Anzon, Before and After</h3>
                    <p class="description">Demolition of the eight-acre Anzon factory, the area's most notorious lead-smelting complex, began in 1999. The former brownfield is now an asphalt-covered retail hub. The developer was allowed to cap a toxic mound with a foot or more
                        of clean fill dirt and plant grass, which residents dub &rdquo;Mount Wawa.&ldquo; Reporters who tested the soil at the base of the mound found lead levels six times the allowable limit.</p>
                </div>
                <div class="legend-buttons">
                    <div class="introtext">
                        The images below show the Anzon site in 1959, when it was in operation, and in 2016. Use the slider to compare the two images.
                    </div>
                </div>

                <div class='jembed-container'><iframe frameborder='0' class='juxtapose' width='100%' height='1000' src='https://cdn.knightlab.com/libs/juxtapose/latest/embed/index.html?uid=dfc7f87e-530e-11e7-baf8-0edaf8f81e27'></iframe></div>

                <div class="source">SOURCES: Delaware Valley Regional Planning Commission (1959 photo); City of Philadelphia (2016 photo)</div>
                <div class="source credit">Staff Graphic</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col col-md-offset-1">


            <p>The family had a puppy, a black mutt named Eliza Jane. At only a year old, the dog had a distended stomach and couldn&rsquo;t stop vomiting. Their beloved pet died from what the vet called &ldquo;lead belly,&rdquo; Antczak said.</p>
            <p>In the early 1980s, Antczak got married and bought a house near his parents about a block from the plant.</p>
            <p>A few years later, a plant fire blasted out so much lead dust that Anzon evacuated the surrounding blocks. It took Anzon three days to vacuum streets and sidewalks, and decontaminate homes, inside and out.</p>
            <p>By then, Antczak and other nearby residents had had enough. They sued Anzon in 1987 for contaminating their homes and imperiling their children. Years later, they settled with the company. Most families received a few thousand dollars. The largest payout
                was $16,000. Some families used some of the money to pave over their backyards with concrete to encapsulate the toxic soil.</p>
            <p>Anzon began demolishing the plant in 1997, leaving behind a wasteland of rubble and a mound of dirt near the intersection of Thompson and Huntingdon Streets.</p>
            <p>A private company, Port Richmond Development, purchased the land. Under a program to develop brownfields, the state Department of Environmental Protection (DEP) gave the developer liability protection in exchange for complete cleanup.</p>
        </div>
    </div>
</div>
<div class="container fullimage">
    <div class="col-md-offset-1 col-md-10 col">
        <div class="imagebreak">
            <img class="img-fluid" src="http://media.philly.com/images/Toxiccity02-0010.JPG" alt="" width="100%/">
            <div class="containerPhotoCredit">JESSICA GRIFFIN / Staff Photographer</div>
            <div class="containerPhotoCaption">Gregory Antczak revisits the site of the old Anzon factory. To the right is a mound that residents call "Mount Wawa," a pile of toxic dirt that was capped with clean soil and grass to prevent exposure to lead. </div>
        </div>

    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8 col col-md-offset-1">
            <p>The former brownfield is now an asphalt-covered retail hub with an Applebee&rsquo;s, Dunkin&rsquo; Donuts, Rite Aid, AutoZone, and Wawa. Rather than hauling away the toxic mound, the developer was allowed to cap it with a foot or more of clean dirt and
                plant grass. Residents have dubbed the mound &ldquo;Mount Wawa.&rdquo; Many cringe when they see children playing on it.</p>
            <p>As part of its agreement with the DEP, the developer is required to have an environmental company routinely inspect the hill and surrounding asphalt.</p>
            <p>The task involves little more than looking at it.</p>
            <p><a href="https://www.documentcloud.org/documents/3677106-RTResponsetoLtrtoNRodin.html">An inspection log</a> for the site from 2004 to 2012 shows that an inspector wrote the same two sentences for the nine consecutive visits: &ldquo;All asphalt perfect condition. All grass and landscaping perfectly in place.&rdquo;</p>
            <p>The state does not require the developer to test the mound for lead.</p>
            <p>Meanwhile, residents have had their doubts. In a 2012 investigation of former lead smelters nationwide, USA Today found high lead levels in soil near Anzon. Some residents urged the EPA to determine whether Mount Wawa was safe. The developer&rsquo;s environmental
                firm gave an answer:</p>
            <p>&ldquo;We are pleased to report, as expected, that the cap is being appropriately maintained, and remains protective.&rdquo;</p>
            <p>Reporters recently tested a patch of bare soil at the apron of Mount Wawa. Its lead level came back at 2,904 ppm, more than seven&nbsp;times the allowable limit for areas where children play.</p>
            <p>&ldquo;We were told it was safe, that it was all encapsulated,&rdquo; said Sandy Salzman, former executive director of the New Kensington Community Development Corp. This news brought fresh worry.</p>
            <p>&ldquo;In the summertime, the kids play there and slide down the hill,&rdquo; Saltzman said.</p>
            <p>Told that Mount Wawa tested high for lead, DEP Secretary Patrick McDonnell said: &ldquo;It&rsquo;s something I&rsquo;d want to hop on.&rdquo; The agency will check it out, he said.</p>
            <p>Neal Rodin,&nbsp;president of Port Richmond Development,&nbsp;said people should stay off the hill &mdash; period.</p>
            <p>&ldquo;Children are not supposed to play on it. It&rsquo;s a commercial site,&rdquo; Rodin said. &ldquo;It&rsquo;s good you&rsquo;re doing the story. Hopefully, parents will know then to keep their children away.&rdquo;</p>
            <p>Just across the street from the old Anzon site is Cione Playground, which decades ago had been saturated with lead. In a one-time arrangement, the city received $500,000 from the company in the late 1990s to abate the lead and, under EPA guidance, make
                the playground safe.</p>
            <p>Reporters recently tested soil at Cione&rsquo;s ball fields, and it came back low. But soil tested in four locations near the community swimming pool returned unsafe levels, between 613 and 955 ppm.</p>
            <p>Told of the test results, city spokeswoman Lauren Hitt said the city was not responsible for regulating soil. &ldquo;If we become aware of a toxic soil situation, we notify EPA and/or DEP,&rdquo; she replied in an email. &ldquo;If there is an immediate
                health threat, we will, of course, also try to use our general police powers&rdquo; to protect the public.</p>

        </div>
    </div>
</div>


{% include "partials/video-trans-1.html" %}


<div class="container">
    <div class="row">
        <div class="col-md-9 col subheadwidth">
            <div class="leadSubhead">The &lsquo;silo problem&rsquo;</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col col-md-offset-1">

            <p>Brown, the former CDC lead expert who now teaches at the Harvard T. H. Chan School of Public Health, put it in blunt terms: &ldquo;Everybody&rsquo;s problem is nobody&rsquo;s problem,&rdquo; she told a group of peers at an EPA <a href="https://www.documentcloud.org/documents/3677102-Final-R3-Pb-in-Urban-Soil-Meeting-Summary.html">workshop</a> last year in Philadelphia
                on lead hazards in urban soil.</p>
            <p>All neighborhoods near former lead smelters are likely to have unsafe levels of lead in the soil, the experts noted.&nbsp; Most everyone in the room agreed that tackling the problem requires urgency. But not everyone could agree on a solution &mdash;
                or which agency should take charge.</p>
            <p>Brown has grown weary of the hand-wringing and often fruitless quests to find the responsible culprit from years past.</p>
            <p>&ldquo;How did it get in the soil? That train has already left the station,&rdquo; Brown said in a recent interview. &ldquo;We know it&rsquo;s there. We know how to fix it. Now let&rsquo;s fix it.&rdquo;</p>
        </div>
    </div>


    {% include "graphics/smelter-map.html" ignore missing %}


    <div class="row">
        <div class="col-md-8 col col-md-offset-1">
            <p>Government should not use little kids as walking test tubes, tackling lead hot spots only after little kids suffer neurological damage, she said. The best way to protect them is to remove all the toxic soil, she said.</p>
            <p>It sounds so simple. But is it?</p>
            <p>Reporters shared their test results with the state DEP, including one for a Fishtown backyard that came back at 9,883 ppm. Patrick McDonnell, the agency&rsquo;s secretary, replied:&nbsp;&ldquo;Any time we see sample results like this, it&rsquo;s definitely
                cause for concern,&rdquo; McDonnell said last week.</p>
            <p>The state has laws to hold polluters accountable. But as it stands now, the DEP has no regulatory power to remedy what McDonnell calls widespread &ldquo;historic pollution or contamination.&rdquo; McDonnell, who was confirmed by the Senate last month,
                said he is still trying to determine whether the state has any authority to require developers to test soil for lead before disturbing land adjacent to known brownfield parcels.</p>
            <p>As for the 82 of 114 properties that tested above 400 ppm for lead, he said: &ldquo;We&rsquo;d need to look at specific sites and where our regulatory authorities are. Can we figure out the source of the contamination? Are there still viable responsible
                parties?&rdquo;</p>
            <div class="relatedLinks">
                <div class="bigtext">
                    If you think your child has elevated lead levels, and you live in zip code area 19125, 19134, 19137, we’d like to hear from you. Email us at <a href="mailto:audience@philly.com"> audience@philly.com</a>
                </div>

            </div>
            <p>&ldquo;We absolutely want to engage and understand the extent of&rdquo; the problem, McDonnell said.</p>
            <p>So does Jack Kelly, an EPA official based here. Kelly has been alerting higher-ups for years about the lead problems in Fishtown, Kensington, and Port Richmond. In a perfect world, residents all over the area would allow him to test their soil and he
                could map the boundaries of the contamination and make a case to his bosses that backyards in this area should qualify for federal cleanup money.</p>
            <p>In the meantime, Kelly has persuaded the EPA, as a public service, to take the unusual step of contracting with a phlebotomist to test the blood lead levels in children, ages 6 and under, who live in the river wards.</p>
            <p>The EPA is still working out the details but hopes to begin testing this summer. During a community meeting earlier this year, residents like Jana Curtis, whose child was poisoned by soil, broached the elephant in the room: &ldquo;Is there any danger
                of this money disappearing, given the current political climate?&rdquo;</p>
            <p>Kelly struggled to answer the question, knowing that the Trump administration has proposed slashing the EPA&rsquo;s budget by nearly one-third, more than any other agency.</p>
            <p>&ldquo;This is, not compared to a lot of work we do, a big-ticket item,&rdquo; Kelly told Curtis. &ldquo;I don&rsquo;t think we&rsquo;re going to lose the money for this.&rdquo;</p>
            <p>David C. Bellinger, a professor of neurology at Harvard Medical School, is tired of inertia. He and fellow clinicians and scientists recently formed <a href="https://www.documentcloud.org/documents/3866497-2017-Bellinger-Et-Al-Achieving-Prevention-of.html">Project TENDR</a> (Targeting Environmental Neurodevelopment Risks). Last month, the group, in the medical
                journal JAMA Pediatrics, called for &ldquo;remediation of lead-contaminated soils from former industrial sites in residential areas&rdquo; and for &ldquo;federal, state and local governments to provide a dedicated funding steam to identify and eliminate
                sources of lead exposure.&rdquo;</p>
            <p>Bellinger said the findings by reporters that high levels of lead lurk in the soil in these neighborhoods, coupled with the lack of government oversight and controls, illustrate what he calls &ldquo;the silo problem&rdquo; &mdash;&nbsp;each agency focuses
                on &ldquo;a narrow aspect of the problem without any integrated effort to stitch all the pieces together.&rdquo;</p>
            <p>Bellinger&rsquo;s coalition is calling for swift national action. &ldquo;Further delay,&rdquo; it warns, &ldquo;will result in more children experiencing lifelong health problems.&rdquo;</p>
        </div>
    </div>
</div>



</div>
</div>
</div>
<div class="container fullimage">
    <div class="col-md-offset-0 col-md-12 col">
        <div class="imagebreak">
            <img class="img-fluid" src="http://media.philly.com/images/Toxiccity02-0011.JPG" alt="" width="100%/">
            <div class="containerPhotoCredit">JESSICA GRIFFIN / Staff Photographer</div>
            <div class="containerPhotoCaption">A child plays in Shissler Playground in April of this year. Across the street, in the background, is a construction site.</div>
        </div>

    </div>
</div>


<div class="creditSection">
    <div class="row">
        <div class="col col-md-7 col-md-offset-2">
            <h4>How we did the testing </h4>
            <p>Reporters spent five months gathering soil and dust samples at homes, parks and playgrounds in the river ward neighborhoods of Kensington, Fishtown and Port Richmond. Two state-licensed risk assessors from Criterion Laboratories, accompanied
                by the reporters, collected the materials for the first two months. Reporters were then instructed in the proper techniques to gather samples on their own. All materials were hand-delivered to Criterion’s Bensalem lab and analyzed.</p>

            <p>All dirt samples were taken from bare patches of soil in places where kids were prone to play. Multiple collections from a single location were not blended together as a composite sample. No soil was collected near drip lines around homes.
                The samples were taken from the top two inches of soil. </p>
            <br>
            <p>Drone footage by Mike Levin. Production and design by Garland Potts, Ellen Dunkel and Jared Whalen. Graphics by Jared Whalen, John Duchneskie and Garland Potts. Video production by Jessica Griffin. Photo editing by Michael Mercanti.</p>
            <br>
            <p><em>Toxic City is supported by grants from the Lenfest Institute for Journalism, the University of Southern California Center for Health Journalism and the Dennis A. Hunt Fund for Health Journalism.</em></p>
        </div>
    </div>

</div>
